= form_for @team do |f|
  .form-group
    = f.label :name, class: "control-label"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :leader, class: "control-label"
    = f.select :leader, Employee.all.collect{|e|["#{e.name} #{e.first_lastname}",e.id]},{:include_blank=> true},{:class => "form-control"}
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
