.page-header
  %h1 Listing teams
  %small
    = link_to 'New Team', new_team_path,class: "btn btn-primary"
- @teams.each do |team|
  .col-xs-8.col-md-3
    .thumbnail.btn-default
      .media
        .pull-left
          %span.glyphicon.glyphicon-asterisk
          = team.name
        .media-body
          %ul
            %li
              %span.glyphicon.glyphicon-user
              = "#{team.leader.name} #{team.leader.first_lastname}"
              - @employees=get_teamemployees(team)
              - if @employees.present?
                %ul
                  - @employees.each do |e|
                    %li
                      %span.glyphicon.glyphicon-user
                      = "#{e.name} #{e.first_lastname}"
              %li
              = link_to 'Show', team
              = link_to 'Edit', edit_team_path(team)
              = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }
