.col-md-4.col-md-offset-4
	%p#notice= notice

	%p
		%b Name:
		= @team.name
	%p 
		%b Leader:
		%a{href: employee_path(@team.leader)}
			= "#{@team.leader.name} #{@team.leader.first_lastname}"

	= link_to 'Edit', edit_team_path(@team)
	\|
	= link_to 'Back', teams_path
