= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label "Foto"
    %br/
    = image_tag(@employee.image, :size => "200x200")
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :first_lastname
    %br/
    = f.text_field :first_lastname
  .field
    = f.label :second_lastname
    %br/
    = f.text_field :second_lastname
  .select
    = f.label :calendar_type_id
    = f.select :calendar_type_id,CalendarType.all.collect{|t|[t.name,t.id]}, :include_blank => true
  .field
    = f.label :birthdate
    %br/
    = f.date_select :birthdate
  .file
    = f.label "Image"
    %br/
    = f.file_field :dataimage
  .actions
    = f.submit
