.page-header
  %h1 Listing employees
  %h3
    = @day.strftime("%Y/ %B /%d")
- @employees.each do |employee|
  .col-xs-8.col-md-3
    .thumbnail.btn-default
      .media
        .pull-left
          = image_tag(employee.image, :size => "100x100")
        .media-body
          %center
            %h4= link_to "#{employee.name} #{employee.first_lastname} #{employee.second_lastname}", employee,:class => "label label-info"