<center>
<h1>Listing calendar_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_types.each do |calendar_type| %>
      <tr>
        <td><%= calendar_type.name %></td>
        <td><%= image_tag(calendar_type.image, :size => "25x25")%></td>
        <td><%= link_to 'Show', calendar_type %></td>
        <td><%= link_to 'Edit', edit_calendar_type_path(calendar_type) %></td>
        <td><%= link_to 'Destroy', calendar_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar type', new_calendar_type_path %>
</center>