<p id="notice"><%= notice %></p>
<p>
	<%= image_tag(@calendar_type.image,:size=>"25x25")%>
</p>
<p>
  <strong>Name:</strong>
  <%= @calendar_type.name %>
</p>

<%= link_to 'Edit', edit_calendar_type_path(@calendar_type) %> |
<%= link_to 'Back', calendar_types_path %>
