%p#notice= notice
%p
  = image_tag(@calendar_type.image,:size=>"75x75")
%p
  %strong Name:
  = @calendar_type.name
= link_to 'Edit', edit_calendar_type_path(@calendar_type)
|
\#{link_to 'Back', calendar_types_path}
