- c = day_list_content(content,day)
- if c.count>0
  = content_tag :div, id: "#{content}-content-#{day.day}", style: "display:none",class: "tooltip" do
    .media
      - c.each do |e|
        .pull-left
          - media = day_media_content(content,nil,e)
          = image_tag(media, :size => "35x35")
        .media-body
          - mbody = day_mediabody_content(content,nil,e)
          = mbody
              