= content_for :scripts do
  = javascript_include_tag "/assets/home.js"
  = stylesheet_link_tag "/assets/home.css"
- @day=calendar_day(@day)
- @days=calendar_days
- @month = @day.month

%input{id: "dateToday",type: "text",name: "dateToday",value: "#{Date.today.year}#{Date.today.month}#{Date.today.day}",style: "display:none"}

%ul.list-inline
  %li
    %h1= link_to "",{controller: "home", action: "prevMonth", date: @day },title: "Previous Month",class: "glyphicon glyphicon-chevron-left"
  %li
    %h1=@day.strftime("%Y/%m")
  %li
    %h1= link_to "",{controller: "home", action: "nextMonth", date: @day },title: "Next Month",class: "glyphicon glyphicon-chevron-right"

.row.col-md-12.col-xs-12
  %ul.list-inline
    - @days.each do |dn|
      %li{class: dn["clas"]}
        %center
          = dn["label"]
    - while @month == @day.month
      - @days.each do|d|
        %li.thumbnail{id: "td#{@day.year}#{@day.month}#{@day.day}",class: d["clas2"] }
          - if @day.strftime("%a") == d["label"]
            = render "home/inday", day: @day, wknd: d["wknd"]
            - @day += 1
            - if @day.month != @month
              - break
              

