
<h1>TODAY</h1>
<h2><%= Date.today%></h2>
<% @schedules=ScheduleCarwash.where(date: Date.today).order(turn: :asc)%>
<table>
  <thead>
    <tr>
      <th>Turn</th>
      <th>Employee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do|s|%>
      <tr>
        <td><%= s.turn %></td>
        <td><%= s.employee.name + ' ' + s.employee.first_lastname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>TOMORROW</h3>
<h4><%= Date.today+1%></h4>
<% @schedules=ScheduleCarwash.where(date: Date.today+1).order(turn: :asc)%>
<table>
  <thead>
    <tr>
      <th>Turn</th>
      <th>Employee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do|s|%>
      <tr>
        <td><%= s.turn %></td>
        <td><%= s.employee.name + ' ' + s.employee.first_lastname %></td>
      </tr>
    <% end %>
  </tbody>
</table>