= content_for :scripts do
  = javascript_include_tag "/assets/home.js"
  = stylesheet_link_tag "/assets/home.css"
- if @day==nil
  - @day=Date.today
- @month = @day.month
- @day= @day - @day.day
- @day += 1
- @days=calendar_days

%input{:id => "dateToday",:type=>"text",:name=>"dateToday",:value=>Date.today.year.to_s+Date.today.month.to_s+Date.today.day.to_s,:style=> "display:none"}

%ul.list-inline
  %li
    %h1= link_to "",{:controller => "home", :action => "prevMonth", :date => @day },:title=>"Previous Month",:class =>"glyphicon glyphicon-chevron-left"
  %li
    %h1=@day.strftime("%Y/%m")
  %li
    %h1= link_to "",{:controller => "home", :action => "nextMonth", :date => @day },:title=>"Next Month",:class =>"glyphicon glyphicon-chevron-right"

.row.col-md-12.col-xs-12
  %ul.list-inline
    - @days.each do |dn|
      %li{class: dn["clas"]}
        %center
          = dn["label"]
    - while @month == @day.month
      - @days.each do|d|
        %li.thumbnail{id: "td#{@day.year.to_s+@day.month.to_s+@day.day.to_s}",class: d["clas"] }
          - if @day.strftime("%a") == d["label"]
            = render "home/inday", day: @day, wknd: d["wknd"]
            - @day += 1
            - if @day.month != @month
              - break
              

