= content_for :scripts do
  = javascript_include_tag "/assets/home.js"
  = stylesheet_link_tag "/assets/home.css"
- @dayn=calendar_day(@day)
- @days=calendar_days
- @month = @dayn.month

%input{id: "dateToday",type: "text",name: "dateToday",value: "#{Date.today.year}#{Date.today.month}#{Date.today.day}",style: "display:none"}

%ul.list-inline
  %li
    %h1= link_to "",{controller: "home", action: "prevMonth", date: @dayn },title: "Previous Month",class: "glyphicon glyphicon-chevron-left"
  %li
    %h1=@dayn.strftime("%Y/%m")
  %li
    %h1= link_to "",{controller: "home", action: "nextMonth", date: @dayn },title: "Next Month",class: "glyphicon glyphicon-chevron-right"

.row.col-lg-12.col-md-12.col-xs-12
  %ul.list-inline
    - @days.each do |dn|
      %li{class: dn["clas"]}
        %center
          = dn["label"]
    - while @month == @dayn.month
      - @days.each do|d|
        %li.thumbnail{id: "td#{@dayn.year}#{@dayn.month}#{@dayn.day}",class: d["clas2"] }
          - if @dayn.strftime("%a") == d["label"]
            = render "home/inday", day: @dayn, wknd: d["wknd"]
            - @dayn += 1
            - break if @dayn.month != @month