= content_for :scripts do
  = javascript_include_tag "/assets/home.js"
  = stylesheet_link_tag "/assets/home.css"
- if @day==nil
  - @day=Date.today
- @month = @day.month
- @day= @day - @day.day
- @day += 1
- @days=["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]
%input{:id => "dateToday",:type=>"text",:name=>"dateToday",:value=>Date.today.year.to_s+Date.today.month.to_s+Date.today.day.to_s,:style=> "display:none"}

%ul.list-inline
  %li
    %h1= link_to "",{:controller => "home", :action => "prevMonth", :date => @day },:title=>"Previous Month",:class =>"glyphicon glyphicon-chevron-left"
  %li
    %h1=@day.strftime("%Y/%m")
  %li
    %h1= link_to "",{:controller => "home", :action => "nextMonth", :date => @day },:title=>"Next Month",:class =>"glyphicon glyphicon-chevron-right"

.row.col-md-12.col-xs-12
  %ul.list-inline
    - @days.each do |dn|
      - if dn=="Sun" || dn=="Sat"
        %li.col-md-1.col-xs-1.thumbnail.alert-info
          %center
            = dn
      - else
        %li.col-md-2.col-xs-2.thumbnail.alert-success
          %center
            = dn
    - while @month == @day.month
      - @days.each do|d|
        - if d=="Sun"||d=="Sat"
          - @d="col-md-1 col-xs-1"
          - @stly=" alert-danger"
          - @wknd= true
        -else
          - @d="col-md-2 col-xs-2"
          - @stly=" alert-warning" 
          - @wknd= false
        %li.thumbnail{id: "td#{@day.year.to_s+@day.month.to_s+@day.day.to_s}",class: @d.to_s+@stly }
          - if @day.strftime("%a") == d
            = render "home/inday", day: @day, wknd: @wknd
            - @day += 1
            - if @day.month != @month
              - break
          
              

