.page-header
  %h1 Listing projects
  %small
    = link_to 'New Project', new_project_path, class: "btn btn-primary"
- @projects.each do |project|
  .col-xs-8.col-md-3
    .thumbnail.btn-default
      .media
        .pull-left
          %span.glyphicon.glyphicon-certificate
          %a{href: project_path(project)}
            = project.name
        .media-body
          %ul.list-group
            %li.list-group-item
              = image_tag(project.admin.image, :size => "35x35")
              %a{href: employee_path(project.admin)}
                = "#{project.admin.name} #{project.admin.first_lastname}"
            %li.list-group-item
              %span.glyphicon.glyphicon-asterisk
              - if project.team.present?
                %a{href: team_path(project.team)}
                  = project.team.name
            %li.list-group-item
              = image_tag(project.calendar_type.image, :size => "35x35")
              = project.calendar_type.name
            %li.list-group-item
              = link_to 'Edit', edit_project_path(project)
              = link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

