.row
  %p
    %b Admin:
    .employee.btn.btn-success{id: @project.admin.id}
      = "#{@project.admin.name} #{@project.admin.first_lastname}"
- if @project.team.present?
  .row
    %p
      %b Team:
      .btn.btn-info
        = @project.team.name
  .row
    %p
      %b Leader:
      .employee.btn.btn-success{id: @project.team.leader.id}
        = "#{@project.team.leader.name} #{@project.team.leader.first_lastname}"
  .row
    %p  
      %b Collaborators:
      - @employees.each do |e|
        .employee.btn.btn-success{id: e.id}
          = "#{e.name} #{e.first_lastname}"
