.col-md-4.panel
  .page-header
    %a{href: url_for(projects_path)}Projects
    %small= "[#{@projects.count}]"
    %a.lnk-project-new.btn.btn-xs{data:{toggle: "modal",target: "#project_new"}} New project
  - @projects.each do |p|
    %p.projects
      %a.thubnail.btn.btn-primary.projects{id: "#{p.id}"}= p.name
      %a.lnk-project-edit.btn.btn-xs{id: p.id,data:{toggle: "modal",target: "#project_edit"}} Edit
      %a.lnk-project-remove.btn.btn-xs{:href=> "destroy_project/#{p.id}",data:{:confirm => 'Are you sure?'},id: p.id } Remove
.col-md-8.panel
  .page-header
    Project Name:
    %b.btn.btn-primary#project_head
  #project_content

= render 'modals_manageteam',name: 'project_new'
= render 'modals_manageteam',name: 'project_edit'