.col-md-4.panel
  .page-header
    %a{href: url_for(teams_path)} Teams
    %small= "[#{@teams.count}]"
    %a.lnk-team-new.btn.btn-xs{data:{toggle: "modal",target: "#team_new"}} New Team
  - @teams.each do |t|
    %p.teams
      %a.thubnail.btn.btn-info.teams{id: "#{t.id}"}= t.name
      %a.lnk-team-edit.btn.btn-xs{id: t.id,data:{toggle: "modal",target: "#team_edit"}} Edit
      %a.lnk-team-remove.btn.btn-xs{:href=> "destroy_team/#{t.id}",data:{:confirm => 'Are you sure?'},id: t.id } Remove
.col-md-8.panel
  .page-header
    Team Name:
    %b.btn.btn-info#team_head
  .team_employees

= render 'modals_manageteam',name: 'team_edit'
= render 'modals_manageteam',name: 'team_new'