= content_for :scripts do
  = javascript_include_tag "/assets/manage_team.js"
  = stylesheet_link_tag "/assets/manage_team.css", "data-turbolinks-track" => true

= @hml.render 
= @hml_project.render

.col-md-8
  .row#teams
    = render 'teams_content'
  .row#projects
    = render 'projects_content'

    
.col-md-4
  = render 'employees_unassigned', employees: @employees 
  .page-header
    Teams Unassigned
  .teams-unassigned
    - @teams_unassigned.each do |t|
      .btn.btn-danger
        = t.name
  .page-header
    Admins
  - @admins.each do |a|
    .employee.btn.btn-success{id: a.id}
      = "#{a.name} #{a.first_lastname}"

  .page-header
    Leaders
  - @leaders.each do |l|
    .employee.btn.btn-success{id: l.id}
      = "#{l.name} #{l.first_lastname}"

.popover