.row
  .team_id{id: @team.id}
  %p
    %b Leader:
    .employee.btn.btn-success.leader{id: @team.leader.id}
      = "#{@team.leader.name} #{@team.leader.first_lastname}"
.row
  %p
    %b Collabolators:
    .collabolators
      - @employees.each do |e|
        .employee.btn.btn-success.collabolator{id: e.id, name: "employee[id]"}
          = "#{e.name} #{e.first_lastname}"         
