= form_for(@schedule_carwash) do |f|
  %div{class: "form-group"}
    = f.label :date, :class=> "control-label"
    .control
      = f.date_select :date, :class => "form-control"
  %div{class: "form-group"}
    = f.label :employee_id, :class=> "control-label"
    = f.select :employee_id,Employee.all.collect{|t|[t.name + ' ' + t.first_lastname,t.id]},{:include_blank=>true}, {:class => "form-control"}
  %div{class: "form-group"}
    = f.submit :class => "btn btn-primary"
