<%= form_for(@schedule_carwash) do |f| %>
  <% if @schedule_carwash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_carwash.errors.count, "error") %> prohibited this schedule_carwash from being saved:</h2>

      <ul>
      <% @schedule_carwash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  <!--</div>-->
  <!-- <div class="field">-->
  <!--   <%= f.label :turn %><br>-->
  <!--   <%= f.number_field :turn %>-->
  <!--</div>-->
  <div class="select">
  <%= f.label :employee_id%>
  <%= f.select :employee_id,Employee.all.collect{|t|[t.name + ' ' + t.first_lastname,t.id]},:include_blank=>true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
