= form_for(@schedule_carwash) do |f|
  - if @schedule_carwash.errors.any?
    #error_explanation
      %h2
        = pluralize(@schedule_carwash.errors.count, "error")
        prohibited this schedule_carwash from being saved:
      %ul
        - @schedule_carwash.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :date
    %br/
    = f.date_select :date
    / </div>
    / <div class="field">
    / <haml:loud> f.label :turn </haml:loud><br>
    / <haml:loud> f.number_field :turn </haml:loud>
    / </div>
    .select
      = f.label :employee_id
      = f.select :employee_id,Employee.all.collect{|t|[t.name + ' ' + t.first_lastname,t.id]},:include_blank=>true
    .actions
      = f.submit
