.page-header
  %h1 Listing Schedule CarWas
  %h3
    = @day
- @schedule_carwashes.each do |schedule_carwash|
  .col-xs-8.col-md-4
    .thumbnail.btn-default
      .media
        .pull-left
          = image_tag(schedule_carwash.employee.image,:size=>"100x100")
        .media-body
          %center
            %h4= link_to schedule_carwash.turn, schedule_carwash, :class => "label label-info"
            %p= schedule_carwash.employee.name + ' ' + schedule_carwash.employee.first_lastname
            %p= schedule_carwash.date