<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @schedule_carwash.date %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @schedule_carwash.turn %>
</p>
<p>
	<strong>Employee:</strong>
	<%= @schedule_carwash.employee.name+' '+ @schedule_carwash.employee.first_lastname%>
</p>

<%= link_to 'Edit', edit_schedule_carwash_path(@schedule_carwash) %> |
<%= link_to 'Back', schedule_carwashes_path %>
