<%= form_for(@day_off) do |f| %>
  <% if @day_off.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_off.errors.count, "error") %> prohibited this day_off from being saved:</h2>

      <ul>
      <% @day_off.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="checkboxlist">
    <%= f.label :calendar_type_id %><br>
    <%CalendarType.all.each do |t|%>
    <%= check_box_tag 'calendar_type_id[]',t.id%>
    <label><%= t.name%></label>
    <br>
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
