<center>
<h1>Listing day_offs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @day_offs.each do |day_off| %>
      <tr>
        <td><%= day_off.name %></td>
        <td><%= day_off.date %></td>
        <td><%= day_off.calendar_type.name %></td>
        <td><%= link_to 'Show', day_off %></td>
        <td><%= link_to 'Edit', edit_day_off_path(day_off) %></td>
        <td><%= link_to 'Destroy', day_off, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day off', new_day_off_path %>
</center>