<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @day_off.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day_off.date %>
</p>

<%= link_to 'Edit', edit_day_off_path(@day_off) %> |
<%= link_to 'Back', day_offs_path %>
