%ul{class: "nav nav-pills"}
  %li.active= link_to 'Home', root_path
  %li= link_to 'Employees', employees_path
  %li= link_to 'Days Off', day_offs_path
  %li= link_to 'Calendar Types', calendar_types_path
  %li= link_to 'Schedule Car Wash', schedule_carwashes_path
